
.DS_Store

/cache
/config/ywc.properties

/public/oist
/xsl/oist
/database/oist
/config/oist

/database/ywc/ywccore.sqlite

/ywc.core/ywc.java/ywc.core/nbproject/private
/ywc.core/ywc.java/ywc.core/dist
/ywc.core/ywc.java/ywc.core/build

/ywc.core/ywc.java/ywc.backend.d/nbproject/private
/ywc.core/ywc.java/ywc.backend.d/dist
/ywc.core/ywc.java/ywc.backend.d/build

/ywc.core/ywc.java/ywc.backend.ws/nbproject/private
/ywc.core/ywc.java/ywc.backend.ws/dist
/ywc.core/ywc.java/ywc.backend.ws/build
/ywc.core/ywc.java/ywc.backend.ws/src/java/version.properties

/ywc.core/ywc.java/ywc.frontend/nbproject/private
/ywc.core/ywc.java/ywc.frontend/dist
/ywc.core/ywc.java/ywc.frontend/build
/ywc.core/ywc.java/ywc.frontend/src/java/version.properties
