
.DS_Store

/ywc.cache
/ywc.conf/ywc.properties

/ywc.lib/oist
/ywc.xsl/oist
/ywc.db/oist

/ywc.core/ywc.java/ywc.backend.d/build/
/ywc.core/ywc.java/ywc.backend.d/dist/
/ywc.core/ywc.java/ywc.backend.ws/build/
/ywc.core/ywc.java/ywc.backend.ws/dist/
/ywc.core/ywc.java/ywc.frontend/dist/
/ywc.core/ywc.java/ywc.core/dist/
